@{
    ViewData["Title"] = "Home Page";
    var count = 0;
}
@model List<CourseViewModel>
<style>
    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
</style>
<!-- Arama Formu -->
<form asp-controller="Home" asp-action="Search" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="query" class="form-control" placeholder="Kurs ara..." value="@Context.Request.Query["query"]" required>
        <button type="submit" class="btn btn-primary">Ara</button>
    </div>
</form>

@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        count++;
        if(count==1 || count%3==1)
        {
            @Html.Raw("<div class='row row-cols-1 row-cols-md-3 g-4 mb-2'>")
        }
        <div class="col">
            <div class="card">
                <img src="@item.StockPictureUrl" class="card-img-top " alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <div class="badge bg-primary">Kategori : @item.Category.Name</div>
                    <p class="card-text">@item.ShortDescription</p>
                    <h4 class="text-primary">@item.Price TL</h4>
                    
                    <div>
                        <a asp-asp-controller="Home" asp-action="Detail" class="btn btn-success" asp-route-id="@item.Id">Detay</a>
                    </div>
                    
                </div>
            </div>
        </div>
        if(count%3==0)
        {
            @Html.Raw("</div>")
        }
    }
    }